modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 24958
externalPort = 3000

[userenv]

[userenv.shared]
PAGOSYA_PUBLIC_KEY = "pk_live_f280454a752c4c5db4eaa45149af0c59"
PAGOSYA_SECRET_KEY = "sk_live_c02e5248b2044f77a3ba689a4661f4d3"
PAGOSYA_BASE_URL = "https://nbjwpakpimrqfocsxkda.supabase.co/functions/v1"
VAPID_PUBLIC_KEY = "BCd9V2froF-p3-EfTCLt5HIwELdPGnvy6LZ-QN4562PPEfj9_GOxqxwyYTbQzucmLug_PLuyX_8q-NriDgWQDhg"
VAPID_PRIVATE_KEY = "vDZA1991SlmdBYcE181Pj-AFB_eSX0HvkGwCAlhRkro"
VAPID_EMAIL = "mailto:admin@elbingote.com"

[nix]
channel = "stable-25_05"
